body {
    background-color: rgba(230, 240, 255, 1);
}

.wrapper {
	max-width: 800px;
	margin: auto;
}

table {
	margin-top: 20px;
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
	text-align: left;
    box-shadow: 0 10px 20px -5px #555;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

thead {
    background-color: #f5f5f5;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.hide {
    display: none;
}

th {
    text-align: center;
}

th h1 {
    margin: 8px 0;
}

.logo {
    height: 50px;
}

.logo img {
    width: 100%;
    max-width: 50px;
    border-radius: 100%;
    border: 2px solid #aaa;
}

input[type=radio] {
    opacity: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

label {
    display: inline-block;
    background-color: #ccc;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 4px 8px;
    margin: 5px 5px 10px 5px;
    cursor: pointer;
}

input:checked + label {
    background-color: rgb(144, 198, 253);
}
